<ion-header>
  <ion-navbar primary>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Code</ion-title>
      <!--ion-buttons start>
        <button (click)="goBack($event)">
          <ion-icon name="arrow-back" style="font-size:26pt;margin-left:-2px;"></ion-icon><span style="margin-left:-5px;">Back</span>
        </button>
      </ion-buttons-->
      <ion-buttons end>
        <button class="disable-hover bar-button bar-button-default bar-button-icon-only" (click)="showModal($event)">
          <a href="#" class="octicon octicon-git-branch" style="font-size:20pt;color:white"></a>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<gm-error [error]="error"></gm-error>
<gm-spinner [spinner]="spinner"></gm-spinner>
<div *ngIf="dataLoaded">

      <ion-card>
          <ion-item>
              <ion-avatar item-left>
                <span class="octicon octicon-code item-left" style="font-size:32pt;"></span>
              </ion-avatar>
              <h2>{{repo.full_name}}</h2>


              <div class="_font-medium _gray" >
                <button small *ngIf="history.length > 1" (click)="goBack($event)" style="margin-top:0px;width:35px;">
                <ion-icon name="arrow-back"></ion-icon>
              </button>
              {{branchTagName}}/{{path}}</div>
          </ion-item>
      </ion-card>

      <!--div class="_font-medium _center-text _gray">{{repo.name}}</div>

      <div class="_font-medium _center-text _gray" style="margin-bottom:7px;">{{branchTagName}}</div>

      <div class="_font-medium _center-text _gray" >
        <button small *ngIf="history.length > 1" (click)="goBack($event)" style="margin-top:-7px;">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      /{{path}}</div-->


      <ion-list>
          <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
                <ion-avatar item-left>
                  <span *ngIf="item.type=='symlink' || item.type=='submodule'" class="octicon {{item.icon}}" style="font-size:32pt;"></span>
                  <ion-icon *ngIf="item.type=='file' || item.type=='dir'" name="{{item.icon}}" style="font-size:xx-large;"></ion-icon>
                </ion-avatar>
                {{item.name}}
                <p *ngIf="item.commitMsg" style="margin-top:10px;">{{item.commitMsg}}</p>
                <p *ngIf="item.lastCommitted">{{item.lastCommitted}}</p>
          </button>

      </ion-list>
</div>
</ion-content>

<ion-footer>
</ion-footer>
