<ion-header>
  <ion-navbar primary>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Issues</ion-title>
      <ion-buttons end>
        <button (click)="presentActionSheet()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<gm-error [error]="error"></gm-error>
<gm-spinner [spinner]="spinner"></gm-spinner>
<div *ngIf="dataLoaded">

      <div class="_description" padding>{{description}} <small>({{data.total_count}})</small></div>

      <ion-segment *ngIf="trigger != 'search'" padding [(ngModel)]="state" (ionChange)="tabLoad($event)" style="margin-top:-15px;">
          <ion-segment-button value="open">
            Open
          </ion-segment-button>
          <ion-segment-button value="closed">
            Closed
          </ion-segment-button>
      </ion-segment>
      <div class="_description" item-wrap *ngIf="foundExcess != null"><small>{{foundExcess}}</small></div>


      <ion-list>
          <button ion-item *ngFor="let item of data.items;" (click)="itemTapped($event, item)">

              <div class="_font-medium">{{item.title}}</div>
              <div class="_font-small _gray" *ngIf="item.repository">{{item.repository.name}}</div>
              <div class="_font-small _gray">#{{item.number}}</div>
              <span class="_gray" style="float:right;font-size:small;">{{item.state}}</span>

              <ion-avatar item-left>
                  <img src="{{item.user.avatar_url}}">
                  <span class="_font-small _gray" style="float:left;">{{item.row+1}}</span>
              </ion-avatar>
              <div class="_font-small  _gray">Creator: {{item.user.login}}</div>
              <div class="_font-small  _gray" *ngIf="item.assignee">Assignee: {{item.assignee.login}}</div>
              <div class="_font-small  _gray" *ngIf="item.assignee == null">Assignee: none</div>
              <div class="_font-small  _gray">Created: {{item.created_at}}</div>
              <div class="_font-small  _gray">Last: {{item.updated_at}}</div>
          </button>
      </ion-list>

      <!-- Scroll controller -->
      <ion-infinite-scroll (ionInfinite)="loadScrolling($event)" threshold="100px">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</div>
</ion-content>
