<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issue Comments/Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<gm-error [error]="error"></gm-error>
<gm-spinner [spinner]="spinner"></gm-spinner>

<div  *ngIf="dataLoaded">
    <div class="_description" padding>{{issue.title}} - (#{{issue.number}})</div>
    <ion-list>
      <div *ngFor="let item of items;">

          <!-- EVENT -->
          <ion-item *ngIf="item.type=='event'" class="_font-small _gray"
                  style="margin-left:30px;max-width:350px;">
              <span item-left class="octicon {{item.icon}}" style="font-size:12pt;width:7px;"></span>
              {{item.event}}
              <span *ngIf="item.event=='labeledzzz' || item.event=='unlabeledzz'"
                  [ngStyle]="{'background-color':item.label.color, 'color':item.label.textColor,
                  'padding-left':'7px', 'padding-right':'4px',
                  'font-weight':'bold'}">
                  <{{item.label.name}}>
              </span>
              <span *ngIf="item.event=='labeled'">&nbsp;</span> - {{item.timeAgo}}
              <div> by: {{item.creator}}</div>
          </ion-item>



          <!-- COMMENTOR CARD -->
          <ion-card *ngIf="item.type=='comment'">
              <button ion-item (click)="itemTapped($event, 'profile-commentor', item.creator)" style="background-color:#f1f1f1;">
                  <div class="_font-small _gray" item-right>Commentor</div>
                  <ion-avatar item-left>
                    <img src="{{item.avatar}}">
                  </ion-avatar>
                  <h2>{{item.creator}}</h2>
                  <div class="_font-small _gray">{{item.timeAgo}}</div>
              </button>
              <ion-card-content>
                  <div [innerHTML]="item.body"></div>
              </ion-card-content>
          </ion-card>
      </div>
    </ion-list>

</div>
</ion-content>

<ion-footer>
</ion-footer>
