.app {
    ._menu{
      background-color: #666666 !important;height:100%;
    }
    ._menuLine {
        color:white;background-color: #666666 !important;color: #ffffff;
    }
    ._name {
        color: #ffffff;font-size:small;
    }
    ._icon {
      font-size:20pt;margin-right:10px;
    }
    ._avatar {
      border-style: solid;border-width:2px;border-color:#387ef5;margin-left:-6px;
    }
}
