<ion-header>
  <ion-navbar primary>
      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Users/Organizations</ion-title>
      <ion-buttons end>
        <button (click)="presentActionSheet()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<gm-error [error]="error"></gm-error>
<gm-spinner [spinner]="spinner"></gm-spinner>
<div *ngIf="dataLoaded">

      <div class="_description" padding>{{description}} <small *ngIf="trigger=='search'">({{data.total_count}})</small></div>
      <div class="_description" padding item-wrap *ngIf="foundExcess != null"><small>{{foundExcess}}</small></div>
      <ion-list>
          <button ion-item *ngFor="let item of data.items" (click)="itemTapped($event, item)" style="height:60px;">
              {{item.login}}
              <br/>
              <ion-avatar item-left>
                  <img src="{{item.avatar_url}}">
                  <span class="_font-small _gray" style="float:left;">{{item.row+1}}</span>
              </ion-avatar>
              <p item-right>{{item.type}}</p>
          </button>
      </ion-list>

      <!-- Scroll controller -->
      <ion-infinite-scroll (ionInfinite)="loadScrolling($event)" threshold="100px">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</div>
</ion-content>

<!--ion-footer>
  <ion-toolbar position="bottom" *ngIf="dataLoaded && data.gm_pagination != null">
      <ion-buttons start>
          <button [disabled]="!pagination.first" [class._lightgray]="!pagination.first"
            (click)="paginationLoad(pagination.first)"
            style="width:46px;">
            <ion-icon name="ios-arrow-back-outline" style="font-size:22pt"></ion-icon>
            <ion-icon name="ios-arrow-back-outline" style="font-size:22pt"></ion-icon>
          </button>
          <button [disabled]="!pagination.prev" [class._lightgray]="!pagination.prev"
            (click)="paginationLoad(pagination.prev)"
            style="width:46px;">
            <ion-icon name="ios-arrow-back-outline"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>{{pagination.currPageNumber}} of {{lastPage}}</ion-title>
      <ion-buttons end>
          <button [disabled]="!pagination.next" [class._lightgray]="!pagination.next"
            (click)="paginationLoad(pagination.next)"
            style="width:46px;">
            <ion-icon name="ios-arrow-forward-outline"></ion-icon>
          </button>
          <button [disabled]="!pagination.last" [class._lightgray]="!pagination.last"
            (click)="paginationLoad(pagination.last)"
            style="width:46px;">
            <ion-icon name="ios-arrow-forward-outline" style="font-size:22pt"></ion-icon><ion-icon name="ios-arrow-forward-outline" style="font-size:22pt"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer-->
