<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gist Comments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<gm-error [error]="error"></gm-error>
<gm-spinner [spinner]="spinner"></gm-spinner>

<div  *ngIf="dataLoaded">
  <div class="_description">{{description}}</div>
  <div class="_description" *ngIf="items.length == 0" style="margin-top:50px;">No Comments</div>

      <ion-card *ngFor="let item of items">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{item.user.avatar_url}}">
          </ion-avatar>
          <h2>{{item.user.login}}</h2>
          <p>Created: {{item.created_at}}</p>
          <p>Last Update: {{item.updated_at}}</p>
        </ion-item>

        <ion-card-content>
        <div [innerHTML]="item.body"></div>
        </ion-card-content>

      </ion-card>

</div>
</ion-content>

<ion-footer>
</ion-footer>
