<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>File</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <gm-error [error]="error"></gm-error>
    <gm-spinner [spinner]="spinner"></gm-spinner>
    <div  *ngIf="dataLoaded">

      <ion-card *ngIf="repo != null">
          <ion-item>
              <ion-avatar item-left>
                <span *ngIf="fileType==0"  class="octicon octicon-file-text item-left" style="font-size:32pt;"></span>
                <span *ngIf="fileType!=0"  class="octicon octicon-file-binary item-left" style="font-size:32pt;"></span>
              </ion-avatar>
              <h2 >{{repo.full_name}}</h2>
              <div class="_font-medium _gray">{{branchTagName}}/{{path}}</div>
          </ion-item>
      </ion-card>

      <ion-card *ngIf="gistName != null">
          <ion-item>
              <ion-avatar item-left>
                <span class="octicon octicon-file-text item-left" style="font-size:32pt;"></span>
              </ion-avatar>
              <h2>{{gistName}}</h2>
              <div class="_font-medium _gray">{{description}}</div>
          </ion-item>
      </ion-card>

      <span *ngIf="repo != null">
        <div class="_center-text">Last commit</div>
        <div *ngIf="lastCommitted != null" class="_font-small _bold _center-text _gray">{{lastCommitted}}</div>
        <div *ngIf="commitMsg != null" class="_font-small _bold _center-text _gray">{{commitMsg}}</div>
      </span>

    <hr/>

    <!--div *ngIf="trigger == 'readme'" padding [innerHTML]="content">
    </div-->

    <ion-scroll *ngIf="fileType==0" scrollX="true" style="font-family:monospace;font-size:medium;color:gray;
        overflow-x: auto;
        white-space: nowrap;" [innerHTML]="content">
    </ion-scroll>

    <img *ngIf="fileType==1" src="{{file.download_url}}" style="margin-top:50px;display: block;
    margin-left: auto;
    margin-right: auto"/>

    <div *ngIf="fileType==2" class="_center-text">
      <br/><br/>
      <span class="octicon octicon-file-binary item-left" style="font-size:52pt;"></span>
      <br/>
      <span class="_gray">This file is binary and cannot be displayed inline.</span>
    </div>

    <hr/>


    </div>
</ion-content>

<ion-footer>
</ion-footer>
