<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>File</ion-title>
</ion-navbar>

<ion-content>
    <gm-error [error]="error"></gm-error>
    <gm-spinner [spinner]="spinner"></gm-spinner>
    <div  *ngIf="dataLoaded">
      <div class="_description">{{description}}</div>

      <div *ngIf="repo != null" class="_font-small _bold _center-text _gray">{{repo.name}}</div>
      <div *ngIf="repo != null" class="_font-small _bold _center-text _gray">{{branchTagName}}</div>
      <div *ngIf="gistName != null" class="_font-small _bold _center-text _gray">{{gistName}}</div>

    <hr/>

    <div *ngIf="trigger == 'readme'" padding [innerHTML]="content">
    </div>

    <ion-scroll *ngIf="fileType==0" scrollX="true" style="font-family:monospace;font-size:medium;color:gray;
        overflow-x: auto;
        white-space: nowrap;" [innerHTML]="content">
    </ion-scroll>

    <img *ngIf="fileType==1" src="{{file.download_url}}" style="margin-top:50px;display: block;
    margin-left: auto;
    margin-right: auto"/>

    <div *ngIf="fileType==2" class="_center-text">
      <br/><br/>
      <span class="octicon octicon-file-binary item-left" style="font-size:32pt;"></span>
      <br/>
      This file is binary and cannot be displayed inline.
    </div>

    <hr/>


    </div>
</ion-content>
